﻿<%@ Page Title="" Language="C#" MasterPageFile="~/masterpages/default.Master" AutoEventWireup="true" CodeBehind="401.aspx.cs" Inherits="PMToolWeb.errorpages._401" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphAdmin" runat="server">
<asp:Label ID="lblStatus" runat="server" EnableViewState="false"></asp:Label>
</asp:Content>
