﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="intermediate.aspx.cs" Inherits="PMToolWeb.intermediate" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        window.parent.location = "http://www.mxicoders.com/mxipmtool/client_opentask.aspx";
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
