﻿.logoutlink{text-decoration:underline;color:#6095D7; padding-right:5px;}
.separateDivBlue{ padding-left:5px; padding-right:6px; }
.separateDivBlue div{  width:100%; height:5px;border:1px solid #6095D7; background:#DCE6F2;}
.dlComments .separateDivBlue{ padding-left:5px; padding-right:6px; }
.dlComments .separateDivBlue div{  width:100%; height:5px;border:1px solid #6095D7; background:#DCE6F2;}

body
{
    margin: 0px;
    background-color: #FFFFFF;
    font-family: Arial,Verdana,Trebuchet MS;
    font-size: 9pt;
    text-align: left;
    line-height: 18px;
    font-family: Arial;
    color:Black;
}

.dxbButton
{
     padding:0px;
    }
    
    .dxdvControl td.dxdvCtrl{ padding:0px; padding-top:20px; padding-left:10px;}
a
{
    color: #666699;
    font-weight: normal;
    background-repeat: no-repeat;
    text-align: left;
    vertical-align: bottom;
    padding-top: 6px;
    text-decoration: none;
    font-size: 9pt;
    background-position: left;
}

.FlatTextBox
{
    border: 1px solid #7F9DB9;
    font-size: 9pt;
    color: Black;
}

.AltFontColor
{
    font-weight: bold;
    color:black;
}

.AltFontColor2
{
    font-weight: bold;
    color: black;
}

.tdalign-top
{
    vertical-align: top;
    text-align:left;
}
.tdalign-top .fontbold
{
    color: Black;
    font-size: 11px;
    font-weight: bold;
}

.clientHeader
{
    border-top: 1px solid #D9D9D9;
    padding-top:8px;
}

.breadcumb { background:url(../../images/data-table-heading-priscrip.gif) repeat-x top left;  color:Black;  }
.breadcumb b { background:#fff; text-transform:capitalize; font-size:12px;   padding: 2px 15px 2px 5px; }
.headerLinks{ text-align:right; color:#6095D7; font-size:11px;}
.headerLinks a{text-align:right; color:#6095D7; font-size:11px; text-decoration:underline;}

/*======================Open New Task===========================*/
.createTaskMainTable{ border:1px solid #6095D7; width:100%; padding-top:4px; padding-bottom:10px;}
.createTaskMainTable .left-td{ text-align:right; width:28%; padding-bottom:6px; vertical-align:top;}
.createTaskMainTable .right-td{ text-align:left; padding-left:10px; width:72%; padding-bottom:6px;}
.createTaskMainTable td .red{ color:Red;}
.createTaskMainTable .grayTextright-td{ padding:0px; color:#9C9C9C; font-size:10px;text-align:left; padding-left:3px; width:72%;}
.createTaskMainTable .dxbButton div.dxb{ padding:0px;}
.createTaskMainTable .dxbButton{ border:none; background:none;}
.mainTable .TaskNumberLabel .label{ width:200px; height:50px; margin-left:7px; color:White; font-weight:bold; background:#8EB4E3; padding: 5px 45px 3px 10px;}
.mainTable .TaskNumberLabel{ text-align:left;}
.dxdvItem, .dxdvFlowItem{   background-color:  White;
    border: none;
    
    font: 9pt Tahoma;
    height: 180px;
    padding: 0;
    width: 150px;}
    .tblUpdate{ margin-left:5px; margin-top:7px;}
    .tblUpdate b{ font-size:14px; margin-top:10px; margin-right:10px;}
    .tblUpdate .memo{ text-align:right;}
    
    .dlComments .light{ color:#7F7F7F; font-size:10px;}
.dlComments .details{ line-height:14px; padding-left:8px; padding-top:4px;}

