﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="footer.ascx.cs" Inherits="PMToolWeb.controls.footer" %>

 <div class="footer">
    
    	<div class="left_footer">PM Tool| Powered by <a href="http://mxicoders.com">Mxicoders Pvt. Ltd</a></div>
    	<div class="right_footer"><a href="http://mxicoders.com"></a></div>
    
    </div>
