﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="header.ascx.cs" Inherits="PMToolWeb.controls.header" %>

    <%--<h2 style="text-align:right;">
        Project Management Tool&nbsp;&nbsp;</h2>--%>
        <div class="header">
    <div class="logo"><a href="#"><img src="<%= PMToolWeb.AppSetting.GetSetting("ApplicationURL", PMToolWeb.AppSettingCategory.General) %>/images/logo.jpg" alt="" title="" border="0" /></a></div>
    
    <div class="right_header">    <img height="50px" width="330px" src='<%= PMToolWeb.AppSetting.GetSetting("ApplicationURL", PMToolWeb.AppSettingCategory.General) %>/images/pmtool.gif'
        alt="Logo" title="Project Management Tool" /></div>
    <div id="clock_a"></div>
    </div>